@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
    --color-text: black;
    --color-body: white;
    --color-text-light: gray;
    --color-border-ui: lightgray;
    --color-primary: #0b78d0;
    --color-primary-light: #dce6ef;

    --ui-filters-width: 80px;
    --ui-gutter: 5%;
    --ui-radius: 6px;
    --ui-tray-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text);
    background: var(--color-body);
}

a {
    color: var(--color-primary);
}

header {
    top: 0;
    position: sticky;
    color: var(--color-text);
    background: var(--color-body);
    padding: 15px 15px 15px var(--ui-gutter);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border-bottom: 1px solid var(--color-border-ui);
    z-index: 10;
}

h1 {
    display: inline-flex;
    align-items: center;
    font-size: clamp(2vw, 24px, 5vw);
    line-height: 1;
    position: relative;
    cursor: pointer;
}

h1:hover {
    color: var(--color-primary);
}

input,
input::placeholder,
input:placeholder-shown {
    color: var(--color-text);
    background: var(--color-body-dim);
}

input:-webkit-autofill {
    background: var(--color-body-dim);
    -webkit-text-fill-color: var(--color-text);
    -webkit-box-shadow: 0 0 0 2000px var(--color-body-dim) inset;
    box-shadow: 0 0 0 2000px var(--color-body-dim) inset;
} 

/* 
    Icons
*/

.icon:hover {
    stroke: var(--color-primary);
}

svg.icon {
    pointer-events: none;
    stroke-width: 1;
}

svg.icon .fill {
    fill: var(--color-text);
    stroke: none;
}

svg.icon .stroke {
    fill: none;
    stroke: var(--color-text);
}

/*
    Link Style
*/

.underline {
    display: block;
    text-decoration: none;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(to bottom, black 0%, black 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease 0s;
}

.underline:hover {
    text-decoration: none;
    background-position: 0 100%;
    background-size: 100% 1px;
    transition: background-size 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    :root {
        --ui-gutter: 10px;
    }
    body {
        background: var(--color-body-dim);
    }
    header {
        grid-template-columns: 1fr;
    }
    h1 {
        display: none;
    }
}
