:root {
    --color-gray-light: #eeeeee;
    --color-primary: #0b78d0;
    --color-primary-light: #eef4f9;
    --ui-filters-width: 80px;
    --ui-gutter: 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    padding: 15px 15px 15px var(--ui-gutter);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    top: 0;
    position: sticky;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

h1 {
    display: inline-flex;
    align-items: center;
    font: bold clamp(2vw, 24px, 5vw)/1 'Helvetica', Sans-serif;
    position: relative;
    cursor: pointer;
    transition: color 0.15s ease;
}

h1:hover {
    color: var(--color-primary);
}


/*
    News Loading
*/

.news-loading {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 5px;
    top: 0px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease;
    user-select: none;
}

.news-loading:after {
    content: " ";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    animation: ring-loading 1.2s linear infinite;
}

.news-loading:before {
    content: " ";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    animation: ring-loading 1.2s linear infinite;
}

@keyframes ring-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 
    Form
*/
form {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 160px) minmax(120px, auto) minmax(32px, 64px);
    position: relative;
    outline: none;
}

form label {
    position: relative;
    display: flex;
    align-items: center;
}

label.news-select-label svg {
    position: absolute;
    right: 6px;
    z-index: 2;
    pointer-events: none;
}

#select-categories {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid lightgray;
    background: var(--color-gray-light);
    appearance: none;
    outline: none;
    position: relative;
    left: 1px;
    z-index: 1;
}

#select-categories:focus {
    background: var(--color-primary-light);
    border-color: var(--color-primary);
}

#keywords {
    padding: 15px;
    background: white;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    border-radius: 0;
    outline: none;
}

#search-button {
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
    border-left: none;
    color: black;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-size: 0;
    outline: none;
}

/* 
    Form While Focused State 
*/

.is-focused #select-categories {
    background: var(--color-primary-light);
    border-color: var(--color-primary);
}

.is-focused #keywords {
    background: var(--color-primary-light);
    border-color: var(--color-primary);
}

.is-focused #search-button {
    border-left-color: var(--color-primary);
}

.is-focused #search-button {
    border-color: var(--color-primary);
}

.is-focused #search-button .icon {
    stroke: var(--color-primary);
}

/* 
    Icons
*/

.icon {
    stroke-width: 2;
    stroke: black;
    fill: none;
    cursor: pointer;
}

.icon:hover {
    stroke: var(--color-primary);
}

/* 
    Filters
*/

.news-filters {
    padding: 15px;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: var(--ui-filters-width);
    border-left: 1px solid lightgray;
    display: flex;
    z-index: 1;
}

#filter-button {
    position: absolute;
    right: 15px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#filter-button:focus {
    border: 1px solid var(--color-primary);
}

#filter-button:focus .icon {
    stroke: var(--color-primary);
}

fieldset.filters {
    border: none;
    display: none;
    width: 100%;
}

fieldset.filters .group-title {
    font-size: smaller;
    color: black;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 20px 0 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
fieldset.filters label {
    display: flex;
    align-items: center;
    font-size: smaller;
    margin: 10px 0 5px;
    color: gray;
}

fieldset.filters div[role='group'] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

fieldset.filters .form-row {
    justify-content: space-between;
}

input[type='date'] {
    font-family: sans-serif;
}

fieldset.filters input,
fieldset.filters select {
    height: 40px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
}

fieldset.filters input:focus,
fieldset.filters select:focus {
    border-color: var(--color-primary);
}

.news-filters.active #filter-button {
    background: var(--color-primary-light);
}

.news-filters.active fieldset.filters {
    display: block;
}

#date-range-apply {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--color-primary-light);
    appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

#date-range-apply:hover {
     border: 1px solid var(--color-primary);
     background: white;
     color: var(--color-primary);
 }

/*
    News Cards
*/

.news {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.news-image {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.6s ease;
}

.news-image:hover img {
    transform: scale(1.025);
}

.news-text {
    padding: 30px 0 30px 30px;
}

/* For news cards WITH images */
.news-text:not(.full-width) {
    width: 50%;
}

/* For news cards WITHOUT images */
.news-text.full-width {
    width: 100%;
    display: flex;
    padding-left: 0;
}

.news-text.full-width .news-headline {
    width: 50%;
    padding-right: 10%;
}

.news-text.full-width .news-details {
    width: 50%;
    padding-left: 30px;
}

.news-title a {
    color: inherit;
}

.news-meta {
    display: flex;
    margin-bottom: 10px;
    line-height: 1;
    align-items: center;
    color: gray;
    font-size: small;
}

.news-categories:empty ~ .separator {
    display: none;
}

.news .separator {
    display: inline-block;
    margin: 0 5px;
}

.news-category {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer
}

.news-category.underline {
    background-image: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 100%)
}

.news-category:hover {
    text-decoration: underline;
}

.news-pubdate {
    text-transform: capitalize;
}

.news-title {
    margin-bottom: 10px;
}

.news-desc {
    color: gray;
    line-height: 1.5;
    margin-bottom: 15px;
}

.news-footer {
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-author {
    color: gray;
    display: flex;
    align-items: center;
}

.news-author svg {
    stroke: gray;
    margin-right: 5px;
}

.news-footer a {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
}

.news-footer svg {
    stroke-width: 1;
    fill: none;
}

.news-link svg {
    stroke: var(--color-primary);
    margin-left: 5px;
}

.news-footer .news-link {
    background-image: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 100%)
}

.news-footer .news-link svg {
    transition: transform 0.3s ease;
}

.news-footer .news-link:hover svg {
    transform: translate3d(3px, -3px, 0);
}

/*
    News Results
*/

#news-results {
    padding: 30px calc(var(--ui-gutter) + var(--ui-filters-width)) 0 var(--ui-gutter);
    transition: opacity 0.3s ease;
}

#news-results:empty {
    min-height: 60vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

#news-results:empty::before {
    text-align: center;
    content: 'Slow news day? Nothing to show.';
    font-size: 1em;
}

#news-results[style] + .news-pagination,
#news-results:empty + .news-pagination {
    opacity: 0;
    pointer-events: none;
}

/*
    Pagination
*/

.news-pagination {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 30px calc(var(--ui-gutter) + var(--ui-filters-width)) 120px var(--ui-gutter);
    transition: opacity 0.3s ease;
}

.news-pagination button {
    flex: 1;
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: var(--color-primary-light);
    color: black;
    cursor: pointer;
    outline: none;
}

.news-pagination button:first-child {
    margin-right: 5px;
}

.news-pagination button:last-child {
    margin-left: 5px;
}

.news-pagination button:not([disabled]):hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.news-pagination button[disabled] {
    background: transparent;
    border: 1px dotted lightgray;
    color: lightgray;
    cursor: default;
}

#news-current-page {
    overflow: hidden;
    padding: 15px;
    color: gray;
    grid-column: span 2;
    text-align: center;
}

#news-current-page::before {
    content: "Page ";
}

/*
    Whhile Page is Loading
*/

body.is-loading .news-loading {
    opacity: 1;
}

body.is-loading .news-pagination {
    opacity: 0;
}

/*
    Link Style
*/

.underline {
    display: block;
    text-decoration: none;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(to bottom, black 0%, black 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease 0s;
}

.underline:hover {
    text-decoration: none;
    background-position: 0 100%;
    background-size: 100% 1px;
    transition: background-size 0.3s ease 0s;
}

/*
    Media Query
*/

@media only screen and (max-width: 767px) {
    :root {
        --ui-gutter: 10px;
    }
    header {
        grid-template-columns: 1fr;
    }
    h1 {
        position: static;
    }
    .news-title-text {
        display: none;
    }
    .news-loading {
        width: 32px;
        height: 32px;
        right: 32px;
        top: 22px;
        background: white;
        pointer-events: none;
        z-index: 1;
    }
    .news-filters {
        background: white;
        top: initial;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
        padding: 0;
    }
    #filter-button {
        background: white;
        position: absolute;
        right: initial;
        border-radius: 24px;
        bottom: 10px;
        right: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }
    fieldset.filters .group-title {
        padding: 15px 0;
        margin: 0;
    }
    fieldset.filters legend:nth-of-type(2) {
        display: none;
    }
    .news-filters fieldset.filters {
        position: fixed;
        left: 0;
        bottom: 0;
        background: white;
        padding: 0px 10px 64px 10px;
        z-index: -1;
        transition: all 0.3s ease;
        transform: translate3d(0, 100%, 0);
        display: block;
    }
    .news-filters.active fieldset.filters {
        transform: translate3d(0, 0%, 0);
        box-shadow: 0 -4px 90px rgba(0,0,0,0.8);
    }

    #news-results {
        padding-top: 10px;
        padding-right: 10px;
    }
    .news {
        flex-direction: column;
    }
    .news-image {
        width: 100%;
    }
    .news-text,
    .news-text:not(.full-width) {
        width: 100%;
        padding: 20px 0 10px;
    }
    .news-text.full-width {
        flex-direction: column;
    }
    .news-text.full-width .news-headline {
        width: 100%;
        padding-right: 0;
    }
    .news-text.full-width .news-details {
        width: 100%;
        padding-left: 0;
    }
    .news-pagination {
        padding: 10px
    }
}