/* 
    Filters
*/
.news-filters {
    padding: 15px;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: var(--ui-filters-width);
    border-left: 1px solid var(--color-border-ui);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#filter-button {
    position: absolute;
    right: 15px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#filter-button:focus {
    border: 1px solid var(--color-primary);
}

#filter-button:focus .icon {
    stroke: var(--color-primary);
}

.filters-tray {
    display: none;
}

.filter-tray-button {
    width: 100%;
    background: var(--color-body);
    color: var(--color-text);
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-tray-button svg {
    pointer-events: none;
    margin-bottom: 5px;
}

/*
    Active State
*/

.filter-tray-button.active {
    border-top: 1px solid var(--color-primary);
    color: var(--color-primary);
    background: var(--color-primary-light);
}

.filter-tray-button.active svg .fill {
    fill: var(--color-primary);
}

.filter-tray-button.active svg .stroke {
    stroke: var(--color-primary);
}

.filter-tray-button .tray-text {
    pointer-events: none;
}

.filters-tray-button * {
    pointer-events: none;
}

fieldset.filters {
    border: none;
    display: none;
    width: 100%;
}

fieldset.filters .group-title {
    font-size: smaller;
    color: var(--color-text);
    font-weight: bold;
    margin: 0 0 5px;
    padding: 20px 0 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-border-ui);
}
fieldset.filters label {
    display: flex;
    align-items: center;
    font-size: smaller;
    margin: 10px 0 5px;
    color: var(--color-text-light);
}

fieldset.filters .filter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

fieldset.filters .form-row {
    justify-content: space-between;
}

input[type='date'] {
    font-family: sans-serif;
}

fieldset.filters input,
fieldset.filters select {
    height: 40px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: var(--color-text);
    background: var(--color-body);
    border: 1px solid var(--color-border-ui);
    border-radius: 10px;
    outline: none;
}

fieldset.filters input:focus,
fieldset.filters select:focus {
    border-color: var(--color-primary);
}

.news-filters.active #filter-button {
    background: var(--color-primary-light);
}

.news-filters.active fieldset.filters {
    display: block;
}

#filter-date-apply {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--color-primary-light);
    color: var(--color-text);
    appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

#filter-date-apply:hover {
     border: 1px solid var(--color-primary);
     background: var(--color-body);
     color: var(--color-primary);
 }

#select-theme {
    height: 0;
    width: 0;
    visibility: hidden;
}

#select-theme + label {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: var(--color-primary-light);
    margin: 10px auto 0;
    display: flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
}

#select-theme + label:after {
    content: '';
    background: var(--color-primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 320ms;
}

#select-theme + label:before {
    content: 'Dark';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

#select-theme:checked + label {
    background: var(--color-primary-light);
}

#select-theme:checked + label:after {
    left: calc(100% - 5px);
    transform: translate3d(-100%, 0, 0);
}

#select-theme + label:before {
    content: 'Day';
    justify-content: flex-end;
}

#select-theme:checked + label:before {
    content: 'Night';
    justify-content: flex-start;
}

/* 
    Media Queries
*/

@media only screen and (max-width: 767px) {
    .news-filters {
        border-left: none;
        background: var(--color-border-ui);
        top: initial;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: var(--ui-tray-height);
        padding: 0;
        display: block;
    }
    .filters-tray {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: inherit;
        display: grid;
        border-top: 1px solid var(--color-border-ui);
        grid-template-columns: repeat(3, 1fr);
    }
    #filter-button {
        display: none;
    }
    fieldset.filters {
        position: static;
        left: 0;
        bottom: 0;
        padding: 0;
        display: block;
        height: inherit;
    }
    .group-title {
        display: none;
    }
    fieldset.filters .filter-group {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        right: 0;
        width: 100vw;
        height: 15vh;
        background: var(--color-body-dim);
        bottom: var(--ui-tray-height);
        padding: 10px;
        z-index: -1;
        display: none;
        grid-template-columns: 80px calc(100% - 80px);
        box-shadow: 0 -10px 50px rgba(0,0,0, 0.33);
    }
    fieldset.filters .filter-group[data-name='more'] {
        height: 60vh;
    }
    fieldset.filters .filter-group[data-name='more'] .group-title {
        display: block;
        grid-column: span 2;
        padding: 10px 0;
        margin: 0;
    }
    fieldset.filters label {
        margin: 0;
    }
    fieldset.filters .filter-group.active {
        display: grid;
    }
    fieldset.filters input, 
    fieldset.filters select {
        width: 100%;
    }
    #filter-date-apply {
        margin-top: 0;
        width: 100%;
        grid-column: span 2;
    }
    fieldset.filters #select-theme {
        margin: 0;
        padding: 0;
        grid-column: span 2;
        display: none;
    }
    fieldset.filters #select-theme + label {
        grid-column: span 2;
        margin: 0;
    }
}