/*
    Pagination
*/

.news-pagination {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 30px calc(var(--ui-gutter) + var(--ui-filters-width)) 30px var(--ui-gutter);
    transition: opacity 0.6s ease;
}

.news-pagination button {
    flex: 1;
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: var(--ui-radius);
    background: var(--color-primary-light);
    color: var(--color-text);
    cursor: pointer;
    outline: none;
    white-space: nowrap;
}

.news-pagination button:first-child {
    margin-right: 5px;
}

.news-pagination button:last-child {
    margin-left: 5px;
}

.news-pagination button:not([disabled]):hover {
    background: var(--color-primary-light);
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.news-pagination button[disabled] {
    background: transparent;
    border: 1px dotted var(--color-border-ui);
    color: var(--color-border-ui);
    cursor: default;
}

#news-current-page {
    overflow: hidden;
    padding: 15px;
    color: var(--color-text);
    grid-column: span 2;
    text-align: center;
    font-size: x-small;
}

#news-current-page::before {
    content: "Page ";
}

/*
    While Page is Loading
*/

.is-loading .news-pagination {
    opacity: 0;
}

/*
    Media Query
*/

@media only screen and (max-width: 767px) {
    .news-pagination {
        grid-gap: 5px;
        padding: 10px 10px calc(var(--ui-tray-height) + 10px);
    }
}