:root {
    --color-text: hsl(0, 0%, 0%);
    --color-text-light: hsl(0, 0%, 50%);
    --color-body: hsl(0, 0%, 100%);
    --color-body-dim: hsl(0, 0%, 95%);
    --color-border-ui: hsl(0, 0%, 83%);
    --color-primary: hsl(207, 90%, 43%);
    --color-primary-light: hsl(208, 37%, 90%);

    --ui-filters-width: 80px;
    --ui-gutter: 5%;
    --ui-tray-height: 70px;
}

.is-dark-mode:root {
    --color-text: hsl(210, 30%, 85%);
    --color-text-light: hsl(210, 25%, 70%);
    --color-body: hsl(210, 10%, 9%);
    --color-body-dim: hsl(210, 10%, 5%);
    --color-border-ui: hsl(210, 15%, 20%);
    --color-primary: hsl(207, 90%, 70%);
    --color-primary-light: hsl(208, 37%, 20%);
}